*
{
     /* margin: 0; */
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding: 0;
}

p{
    font-family: 'Victor Mono', monospace;
    margin-right:50px;
    border: 5px solid red;
    border-radius: 10px;
    /* width: 100px; */
    height: 200px;
    /* outline-style: solid;
outline-width: 20px;
outline-color: green;
text-align: center;
text-align-last:left;
text-decoration-line: underline;
text-decoration-color: red;
text-transform: uppercase;
text-shadow: 2px 2px; */
}


p.class1
{
    font-size: x-large;
}