*
{
margin:0;
padding:0;
}
.banner 
{
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;
    margin : 10px;
    color:black;
    font-weight: bolder;

}
li
{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    margin-top: 20px;
    font-variant: small-caps;
}

li a
{
 color: red;
 font-size: larger;
}

nav{
    background-color: blue;
    padding: 30px;
    margin:10px;

}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
section
{
margin: 10px;
background-color: pink;
padding: 20px;

}

article
{
    margin:10px;
    background-color: aqua;
    padding:  10px 15px;
}

main{
     width: 640px;
     float: left;
}
aside 
{
    float : right;
    width: 420px;
    background-color: antiquewhite;
    height: 700px;
    margin-top: 10px;
}

footer{
    clear : both;
}