h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    background-color: beige;
}
h2{
    font-style: italic;
}
div{
    background-color: red;
}

.class1
{
    background-color:  yellow;
    border: 1px solid green;
}
#h1
{
    background-color: aquamarine;
}