<!-- ul>li*10    -->


<table border="1" cellspacing="10" cellpadding="10">
    
    <tr> 
        <td rowspan="3"> Ajay </td>
        <td> Science </td>
        <td> 90 </td>
    </tr>
    <tr> 
        <td> Eng </td>
        <td> 90 </td>
    </tr>
    <tr> 
        <td> Maths</td> 
        <td> 90 </td>
    </tr>
    <tr> 
        <td rowspan="3"> Deepak </td>
        <td> Science </td>
        <td> 90 </td>
    </tr>
    <tr> 
        <td> Eng </td>
        <td> 90 </td>
    </tr>
    <tr> 
        <td> Maths</td> 
        <td> 90 </td>
    </tr>
</table>

<table border="6" cellpadding="30" cellspacing="20">
    <tr>
        <th>RollNo</th>
        <th>Name</th>
        <th>Address</th>
        <th>Score</th>
    </tr>
    <tr>
        <td>1 </td>
        <td> Ajay</td>
        <td> Delhi</td>
        <td> 100 </td>
    </tr>
    <tr>
        <td>1 </td>
        <td> Ajay</td>
        <td> Delhi</td>
        <td> 100 </td>
    </tr>
    <tr>
        <td>1 </td>
        <td> Ajay</td>
        <td> Delhi</td>
        <td> 100 </td>
    </tr>
</table>